<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <h1>Welcome to homepage!</h1>

        <form action="/users" method="POST">
            <input type="text" name="username" placeholder="Your name here!">
            <button type="submit">Send</button>
        </form>
    
    </body>
</html>